################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs
/src/SistemaEscolar.web/bin
/src/SistemaEscolar.web/obj
/src/SistemaEscolar.web/SistemaEscolar.web.csproj.user
