@{
    ViewData["Title"] = "Home Page";

    //Colocado este trecho para renderizar o arquivo base _Layout.cshtml
    //Layout = "_Layout";
}

<!--Telas de Bem vindo ao logar-->

<div class="text-center">
    <h1 class="display-2"><b>Bem-Vindos</b></h1>
    <p>Este é o portal da <b>English Scholl</b></p>
</div>
