@using SistemaEscolar.web.Models.Menu
@{
    ViewData["Title"] = "Home Page";
    ViewData["Menu"] = Menu.Home;

    //Colocado este trecho para renderizar o arquivo base _Layout.cshtml
    //Layout = "_Layout";
}

<!--Telas de Bem vindo ao logar-->

<div class="text-center">
    <h1 class="display-3 py-4"><b>Bem-Vindos</b></h1>
    <p>Este é o portal da <b class="text-primary">English Scholl</b></p>
</div>
